<!DOCTYPE HTML>
<html dir="ltr" lang="zh-CN">
<head>
<meta charset="UTF-8" />
<title>node简介</title>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<!--<script src="../js/jquery-3.5.1.js"></script>-->
</head>
<body>
<div >
	
    <div >
	
	<!--
        <form action="onLogin" method="post">
        <div class="header">
            <h2 class="logo png"><a href="http://admin.99zyjz.com" target="_blank"></a></h2>
            <span class="alt">管理员登录</span>
        </div>
        <ul>
            <li><label>用户名</label><input name="userName" type="text" class="text" value="cwwu" /></li>
            <li><label>密　码</label><input name="password" type="password" class="text" value="123456" /></li>
            <li class="submits"><input class="submit" type="submit" value="登录" /></li>
        </ul>

        </form>
		-->
		
		<input type=button value="测试请求" id ='testBtn' />
    </div>
    <div class="air-balloon ab-1 png"></div><div class="air-balloon ab-2 png"></div>
    <div class="footer"></div>
</div>



<script type="text/javascript">
 $(function(){
	
	console.log(111);

	
	  $("#testBtn").on("click",function(){
	  
        $.ajax({
            type:"GET",
            url:" http://127.0.0.1:8999/onLogin",
            dataType:"json",
            success:function(data){
               console.log("response!");
            },
            error:function(jqXHR){
                console.log("Error: "+jqXHR.status);
            }
        });
    });
	
	
	
	 
 
 
 });


</script>

</body>
</html>