<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生登陆页面</title>
</head>
<script src="/javascripts/jquery-3.5.1.js" ></script>
<script src="/javascripts/student/login.js" ></script>
<body>
<div>
    这里是学生登陆的页面
</div>

<input type=button value="测试请求" id ='testBtn' />
<input type=button value="测试请求2" id ='testBtn2' />

<div>
    用户名：<input type="text" id="userName"><br/>
    密码： <input type="password" id="pwd"><br/>
    <input type=button value="测试请求3" id ='testBtn3' />

    <br/>
    <br/>
    <br/>
    id:<input type="text" id="userId" ><br/>
    userName: <input type="text" id="nameText"><br/>
    <input type="button" id="testBtn4" value="fff" />

</div>



</body>
</html>